// Layout
$padding-layout: 1rem;
@media (min-width: 700px) {
  $padding-layout: 2.5rem;
}

$max-width: 1400px;
$max-width-sm: 900px;

// Font
$primary-font: 'PT Serif', sans-serif;
$secondary-font: 'Oooh Baby', cursive ;

// Colors
$primary-text-color: #181818;
$bg-color: #f3f3f1;
$border-color: #d6d6d6;