* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #181818;
  font-family: "Cormorant Garamond", serif;
  background-color: #f3f3f1;
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.3rem;
  margin: 0;
  font-weight: 600;
}
@media (min-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  font-size: 1.8rem;
  width: fit-content;
}
@media (min-width: 700px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 700px) {
  h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

h4 {
  margin: 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.7;
}
@media (min-width: 700px) {
  p {
    font-size: 1.8rem;
  }
}

ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.4s;
}
a:hover, button:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

img {
  width: 100%;
}

label, input {
  font-family: inherit;
}

.text-container {
  text-align: center;
  margin: 10px auto 50px;
}
.text-container > * {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: min(1400px, 100% - 2rem);
  margin: 0 auto;
}

.wrapper-sm {
  width: min(900px, 100% - 2rem);
  margin: 0 auto;
}

.padding_tb {
  padding: 50px 0;
}
@media (min-width: 50em) {
  .padding_tb {
    padding: 60px 0;
  }
}

.header {
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: #f3f3f1;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  left: 0;
  right: 0;
}
@media (min-width: 640px) {
  .header {
    position: relative;
    border: none;
  }
}
.header.active .menu {
  visibility: visible;
}
.header.active .arrow {
  transition: transform 0.2s;
  transform: rotate(-180deg);
}
.header .arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  transition: transform 0.2s;
}
.header .mobile-menu-select {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  /*    .menu-item {
        border-bottom: 2px solid #e6e5e3;
        padding-right: 2px;
      }*/
}
@media (min-width: 640px) {
  .header .mobile-menu-select {
    display: none;
  }
}
.header .mobile-menu-select .menu-item {
  padding-right: 15px;
}
.header .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  visibility: hidden;
  font-size: 22px;
  z-index: 10;
  background-color: #f3f3f1;
  top: 100%;
  padding-bottom: 10px;
  padding-top: 15px;
}
@media (min-width: 640px) {
  .header .menu {
    background-color: transparent;
    visibility: visible;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    max-width: 900px;
    position: relative;
    padding-bottom: 0;
    padding-right: 100px;
  }
}
@media (min-width: 1000px) {
  .header .menu {
    padding-right: 30px;
  }
}
.header .menu .menu-item {
  cursor: pointer;
  position: relative;
}
@media (min-width: 640px) {
  .header .menu .menu-item.current-tab::after {
    opacity: 1;
    transform: scale(1);
  }
}
@media (min-width: 640px) {
  .header .menu .menu-item:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
.header .menu .menu-item.hide-mobile {
  display: none;
}
@media (min-width: 640px) {
  .header .menu .menu-item.hide-mobile {
    display: block;
  }
}
.header .menu .menu-item::after {
  background-color: #181818;
  content: "";
  height: 2px;
  left: 0;
  top: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: scale(0);
  transition: all linear 0.2s;
}
.header .language {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 19px;
}
@media (min-width: 640px) {
  .header .language {
    top: 35px;
  }
}
.header .language a:first-child {
  padding-right: 5px;
  border-right: 1px solid black;
}
.header .hide-mobile {
  display: none;
}

.location_tab {
  text-align: left !important;
}
.location_tab .text-container {
  text-align: left;
}
.location_tab .text-container > * {
  margin-left: 0 !important;
}
.location_tab .text-container > h2:not(:first-child) {
  margin-top: 1rem;
}
.location_tab .text-container p {
  font-size: 1.2rem;
}
@media (min-width: 700px) {
  .location_tab .text-container p {
    font-size: 1.5rem;
  }
}
.location_tab .text-container p > a {
  text-decoration: underline;
  transition: all 0.3s;
}
.location_tab .text-container p > a:hover {
  color: grey;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  max-height: 1000px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.program_tab {
  position: relative;
}
.program_tab .bg-image-left {
  position: absolute;
  opacity: 0.2;
  left: 0;
  max-width: 350px;
  top: 0px;
}
.program_tab .bg-image-right {
  position: absolute;
  opacity: 0.2;
  right: 0;
  max-width: 350px;
  bottom: 0px;
}
.program_tab .text-container > p {
  font-size: 22px;
}
.program_tab .bg-image-right, .program_tab .bg-image-left {
  display: none;
}
@media (min-width: 1200px) {
  .program_tab .bg-image-right, .program_tab .bg-image-left {
    display: block;
  }
}
.program_tab .end-text {
  margin-top: 40px;
  font-size: 25px;
}

.agenda {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}
.agenda:before {
  content: "";
  border-radius: 50%;
  background-color: grey;
  width: 10px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.agenda:after {
  content: "";
  height: 100%;
  background-color: grey;
  width: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.agenda .item {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 75px;
  align-items: center;
  position: relative;
}
@media (min-width: 640px) {
  .agenda .item {
    gap: 150px;
  }
}
.agenda .item .item_text > p {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 10px;
  position: relative;
}
@media (min-width: 640px) {
  .agenda .item .item_text > p {
    white-space: nowrap;
  }
}
.agenda .item .hour {
  font-weight: 400;
  font-size: 1.4rem;
}
.agenda .item .line {
  height: 2px;
  background-color: grey;
  width: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 640px) {
  .agenda .item .line {
    width: 40px;
  }
}
.agenda .item img {
  width: 90px;
}

.tab {
  margin-top: 50px;
  margin-bottom: 60px;
  padding-top: 20px;
}
@media (min-width: 640px) {
  .tab {
    margin-top: 30px;
  }
}

.home_tab .home-img {
  max-width: 850px;
}
.home_tab .main-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: "Oooh Baby", cursive;
}
@media (min-width: 640px) {
  .home_tab .main-title {
    margin-top: 30px;
  }
}
.home_tab .info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) {
  .home_tab .info-container {
    flex-direction: row;
    margin-top: 70px;
  }
}
.home_tab .info-container h2 {
  padding: 30px 0;
}
@media (min-width: 640px) {
  .home_tab .info-container h2 {
    padding: 0 100px;
  }
}
.home_tab .info-container h2:first-child {
  border-bottom: 2px solid #181818;
}
@media (min-width: 640px) {
  .home_tab .info-container h2:first-child {
    border-bottom: none;
    border-right: 2px solid #181818;
  }
}
.home_tab .more-info {
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .home_tab .more-info {
    margin: 50px 0;
  }
}
.home_tab .more-info > h1, .home_tab .more-info h2, .home_tab .more-info h3, .home_tab .more-info h4 {
  margin-left: auto;
  margin-right: auto;
}
.home_tab .more-info a {
  text-decoration: underline;
  transition: color 0.3s;
}
.home_tab .more-info a:hover {
  color: dimgray;
}
.home_tab .registration {
  padding: 25px 10px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.home_tab .registration a {
  font-weight: 500;
  font-size: 30px;
}

.rsvp-header {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid #d6d6d6;
}
.rsvp-header a:hover {
  transform: none;
}
.rsvp-header svg {
  position: absolute;
  top: 0;
  width: 30px;
  right: 15px;
}
@media (min-width: 640px) {
  .rsvp-header svg {
    top: 11px;
  }
}

.rsvp_text {
  margin: 60px auto 0 auto;
  max-width: 600px;
}
.rsvp_text label {
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.rsvp_text input {
  width: 80%;
  padding: 10px 15px;
  margin: 1rem 0;
  font-size: 18px;
}
@media (min-width: 640px) {
  .rsvp_text input {
    font-size: 22px;
  }
}
.rsvp_text .alert_message {
  margin-top: 1.5rem;
  color: red;
  padding: 10px;
  border: 1px solid red;
  font-size: 18px;
}
@media (min-width: 640px) {
  .rsvp_text .alert_message {
    font-size: 22px;
  }
}
.rsvp_text .finish-form {
  font-size: 25px;
  margin: 30px 0;
}
.rsvp_text #search_guest.hide-search #guest,
.rsvp_text #search_guest.hide-search #guest-submit-button,
.rsvp_text #search_guest.hide-search .guest-label {
  display: none;
}
.rsvp_text .response-buttons {
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin-top: 45px;
}
@media (min-width: 640px) {
  .rsvp_text .response-buttons {
    margin: 50px;
  }
}
.rsvp_text .form-button {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}
.rsvp_text .form-button:hover {
  background-color: #181818;
  color: white;
  transition: color 0.3s, background-color 0.3s;
  transform: scale(1);
}
.rsvp_text textarea {
  padding: 10px 15px;
  margin: 1.5rem 0;
  font-size: 19px;
  width: 100%;
}
.rsvp_text .response {
  margin: 0 auto 1.5rem auto;
  width: fit-content;
}
.rsvp_text .response-item {
  display: flex;
  gap: 15px;
  font-size: 20px;
  align-items: center;
  margin-bottom: 1.5rem;
}
@media (min-width: 640px) {
  .rsvp_text .response-item {
    font-size: 24px;
  }
}
.rsvp_text .response-item.active .checkbox {
  background-color: grey;
}
.rsvp_text .response-item .checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #181818;
  cursor: pointer;
}
.rsvp_text .response-item .checkbox:hover {
  background-color: grey;
}
.rsvp_text .response-item .name-options-to-choose {
  width: fit-content;
  cursor: pointer;
}
.rsvp_text .guest-to-confirm {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 18px;
}
@media (min-width: 640px) {
  .rsvp_text .guest-to-confirm {
    font-size: 22px;
  }
}
.rsvp_text .guest-to-confirm.assist-true .guest-to-confirm_accept {
  background-color: black;
  color: white;
}
.rsvp_text .guest-to-confirm.assist-false .guest-to-confirm_decline {
  background-color: #181818;
  color: white;
}
.rsvp_text .guest-to-confirm_buttons {
  display: flex;
  gap: 20px;
}
.rsvp_text .guest-to-confirm_button {
  padding: 10px 15px;
  border: 1px solid black;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.rsvp_text .guest-to-confirm_button:hover {
  background-color: #181818;
  color: white;
  transition: background-color 0.3s;
}

.travel_tab img {
  border-radius: 8px;
}
.travel_tab .hero-img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 300px;
  border-radius: 50px;
  margin-top: 40px;
  box-shadow: 10px 10px 50px #ccc;
}
@media (min-width: 640px) {
  .travel_tab .hero-img {
    height: 500px;
    margin-top: 0;
  }
}
.travel_tab .titles {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  text-transform: uppercase;
  padding: 0 5px;
  gap: 5px;
  flex-wrap: wrap;
}
@media (min-width: 640px) {
  .travel_tab .titles {
    justify-content: center;
    margin: 70px 0 100px;
    gap: 100px;
    flex-wrap: nowrap;
  }
}
.travel_tab .titles a {
  font-size: 18px;
  padding: 10px 5px;
  border-radius: 3px;
  border-bottom: 1px solid #d6d6d6;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .travel_tab .titles a {
    font-size: 30px;
    margin: 0;
  }
}
.travel_tab .titles a:hover {
  color: grey;
}
.travel_tab .item-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 640px) {
  .travel_tab .item-content {
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.travel_tab .item-content a {
  text-decoration: underline;
}
.travel_tab .item-content .text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: left;
}
@media (min-width: 640px) {
  .travel_tab .item-content .text {
    grid-template-columns: 1fr 1fr;
  }
}
.travel_tab .item-content .text p {
  font-size: 1rem;
}
@media (min-width: 700px) {
  .travel_tab .item-content .text p {
    font-size: 1.3rem;
  }
}
.travel_tab .travel-item {
  gap: 35px;
  display: grid;
  margin-bottom: 40px;
}
@media (min-width: 1000px) {
  .travel_tab .travel-item {
    margin-bottom: 80px;
    grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
  }
}
.travel_tab .travel-item image {
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 50px #ccc;
}

.faqs_tab {
  max-width: 1050px;
  text-align: left;
}
.faqs_tab p {
  font-size: 18px;
}
.faqs_tab sl-details::part(summary-icon) {
  rotate: none;
}
.faqs_tab sl-details::part(base) {
  background-color: transparent;
}
.faqs_tab sl-icon {
  font-size: 18px;
}
.faqs_tab sl-details::part(header) {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */
