.header{
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;
  left: 0;
  right: 0;
  z-index: 1000;

  @media (min-width: $tablet-sm) {
    position: relative;
    border: none;
  }

  &.active {
    .menu{
      visibility: visible;
    }

    .arrow {
      transition: transform .2s;
      transform: rotate(-180deg);
    }
  }

  .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    transition: transform .2s;
  }


  .mobile-menu-select{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;

    @media (min-width: $tablet-sm) {
      display: none;
    }
    .menu-item{
      padding-right: 15px;
    }

/*    .menu-item {
      border-bottom: 2px solid #e6e5e3;
      padding-right: 2px;
    }*/
  }

  .menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    visibility: hidden;
    font-size: 22px;
    z-index: 10;
    background-color: $bg-color;
    //top: calc(100% + 15px);
    top: 100%;
    padding-bottom: 10px;
    padding-top: 15px;

    @media (min-width: $tablet-sm) {
      background-color: transparent;
      visibility: visible;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      max-width: 900px;
      position: relative;
      padding-bottom: 0;
      padding-right: 100px;
    }
    @media (min-width: $desktop-xxs) {
      padding-right: 30px;
    }



    .menu-item {
      cursor: pointer;
      position: relative;

      &.current-tab{
        @media (min-width: $tablet-sm) {
          &::after{
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      &:hover{
        @media (min-width: $tablet-sm) {
          &::after{
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      &.hide-mobile{
        display: none;
        @media (min-width: $tablet-sm) {
            display: block;
        }
      }

      &::after {
        background-color: $primary-text-color;
        content: "";
        height: 2px;
        left: 0;
        top: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        transform: scale(0);
        transition: all linear .2s;
      }
    }
  }

  .language{
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 19px;
    @media (min-width: $tablet-sm) {
      top: 35px;
    }

    a:first-child {
      padding-right: 5px;
      border-right: 1px solid black;
    }
  }

  .hide-mobile{
    display: none;
  }
}

