.tab {
  margin-top: 50px;
  margin-bottom: 60px;
  padding-top: 20px;
  @media (min-width: $tablet-sm) {
    margin-top: 30px;
  }
}

.home_tab {
  .home-img{
    max-width: 850px;
  }

  .main-title{
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: $secondary-font;
    @media (min-width: $tablet-sm) {
      margin-top: 30px;
      font-size: 4rem;
    }
  }

  .info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet-sm) {
     flex-direction: row;
      margin-top: 70px;
    }

    h2 {
      padding: 30px 0;
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        border-bottom: 2px solid $primary-text-color;
        @media (min-width: $tablet-sm) {
          border-bottom: none;
          border-right: 2px solid $primary-text-color;
        }
      }
    }
  }

  .more-info{
    margin-bottom: 30px;
    @media (min-width: $tablet-sm) {
      margin: 50px 0;
    }
    > h1,h2,h3,h4 {
      margin-left: auto ;
      margin-right: auto;
    }

    a {
      text-decoration: underline;
      transition: color .3s;
      &:hover{
        color: dimgray;
      }
    }
  }

  .registration{
    padding: 25px 10px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    a {
      font-weight: 500;
      font-size: 30px;
    }
  }
}
