.agenda{
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;

  &:after{
    content: "";
    height: 100%;
    background-color: black;
    width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .item {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 75px;
    align-items: center;
    position: relative;

    @media (min-width: $tablet-sm) {
      gap: 150px;
    }

    .line{
      height: 2px;
      background-color: black;
      width: 25px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-sm) {
        width: 40px;
      }
    }

    img {
      width: 90px;
    }
  }

}

