.rsvp-header{
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid $border-color;

  a{
    &:hover {
      transform: none ;
    }
  }

  svg {
    position: absolute;
    top: 0;
    width: 30px;
    right: 15px;

    @media (min-width: $tablet-sm) {
      top:11px;
    }
  }
}

.rsvp_text {
  margin: 60px auto 0 auto;
  max-width: 600px;

  label {
    display: block;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    @media (min-width: $tablet-sm) {
      font-size: 1.5rem;
    }
  }

  input {
    width: 80%;
    padding: 10px 15px;
    margin: 1rem 0;
    font-size: 18px;
    @media (min-width: $tablet-sm) {
      font-size: 22px;
    }
  }

  .alert_message{
    margin-top: 1.5rem;
    color: red;
    padding: 10px;
    border: 1px solid red;
    font-size: 18px;
    @media (min-width: $tablet-sm) {
      font-size: 22px;
    }
  }

  .finish-form{
    font-size: 25px;
    margin: 30px 0;
  }

  #search_guest{
    &.hide-search {

      #guest,
      #guest-submit-button,
      .guest-label {
        display: none;
      }

    }
  }

  .response-buttons {
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-top: 45px;

    @media (min-width: $tablet-sm) {
     margin: 50px;
    }

  }

  .form-button{
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4px;
    transition: color .3s, background-color .3s;
    &:hover {
      background-color: $primary-text-color;
      color: white;
      transition: color .3s, background-color .3s;
      transform: scale(1);
    }
  }

  textarea{
    padding: 10px 15px;
    margin: 1.5rem 0;
    font-size: 19px;
    width: 100%;
  }

  .response {
    margin: 0 auto 1.5rem auto;
    width: fit-content;
  }

  .response-item{
    display: flex;
    gap: 15px;
    font-size: 20px;
    align-items: center;
    margin-bottom: 1.5rem;

    @media (min-width: $tablet-sm) {
      font-size: 24px;
    }

    &.active{
      .checkbox{
        background-color: grey;
      }
    }

    .checkbox{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $primary-text-color;
      cursor: pointer;
      &:hover {
        background-color: grey;
      }
    }

    .name-options-to-choose {
      width: fit-content;
      cursor: pointer;
    }

  }

  .guest-to-confirm{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 18px;
    @media (min-width: $tablet-sm) {
      font-size: 22px;
    }


    &.assist-true{
      .guest-to-confirm_accept{
        background-color: black;
        color: white;
      }
    }

    &.assist-false{
      .guest-to-confirm_decline{
        background-color: $primary-text-color;
        color: white;
      }
    }

    &_buttons {
      display: flex;
      gap: 20px;
    }

    &_button {
      padding: 10px 15px;
      border: 1px solid black;
      cursor: pointer;
      transition: color .3s, background-color .3s;

      &:hover {
        background-color: $primary-text-color;
        color: white;
        transition: background-color .3s;
      }
    }
  }
}

