.travel_tab{
  img{
    border-radius: 8px;
  }

  .hero-img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 300px;
    border-radius: 50px;
    margin-top: 40px;
    box-shadow: 10px 10px 50px #ccc;
    @media (min-width: $tablet-sm) {
      height: 500px;
      margin-top: 0;
    }
  }

  .titles{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    text-transform: uppercase;
    padding: 0 5px;
    gap: 5px;
    flex-wrap: wrap;

    @media (min-width: $tablet-sm) {
      justify-content: center;
      margin: 70px 0 100px;
      gap: 100px;
      flex-wrap: nowrap;
    }

    a{
      font-size: 18px;
      padding: 10px 5px;
      border-radius: 3px;
      border-bottom: 1px solid $border-color;
      margin: 0 auto;

      @media (min-width: $tablet-sm) {
        font-size: 30px;
        margin: 0;
      }
      &:hover{
        color: grey;
      }
    }
  }

  .item-content{
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: $tablet-sm) {
      gap: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .text{
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      text-align: left;

      @media (min-width: $tablet-sm) {
        grid-template-columns: 1fr 1fr;

      }

      p{
        font-size: 1rem;
        @media (min-width: $tablet-md) {
          font-size: 1.3rem;
        }
      }

    }

    a {
      width: fit-content;
      margin: 0 auto;
      padding: 10px 15px;
      border: 1px solid grey;
      transition: all .3s;


      @media (min-width: $tablet-sm) {
        padding: 15px 25px;
      }


      &:hover{
        transform: none;
        background-color: #e7e7e3;
        color: black  ;
      }
    }
  }

  .travel-item {
    $gap : 35px;
    gap: $gap;
    display: grid;
    margin-bottom: 40px;

    @media (min-width: $desktop-xxs) {
      margin-bottom: 80px;
      grid-template-columns: calc(50% - $gap/2) calc(50% - $gap/2);
    }

    image {
      height: 100%;
      object-fit: cover;
      box-shadow: 10px 10px 50px #ccc;
    }
  }
}